<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>VX</title>
    <link rel="stylesheet" href="{{ static_url('css/base.css') }}">
  </head>
  <body>
    <pre class="terminal"><code>Hello World</code></pre>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
     var ws = new WebSocket("ws://localhost:7000/terminal");
     ws.onopen = function() {

     };
     $("html").keypress(function (e) {
         ws.send(String.fromCharCode(e.which));
         e.preventDefault();
     });
     var nativeKeys = [
         8, 9, 13, 27, 35, 36, 45, 112, 113, 114, 115,
         116, 117, 118, 119, 120, 121, 122, 123, 144, 145,
     ];
     $("html").keydown(function (e) {
         var data = undefined;
         if (e.which == 33) { data = '\u001B<'; }
         if (e.which == 33) { data = '\u001B<'; }
         if (e.which == 34) { data = '\u001B>'; }
         if (e.which == 37) { data = '\u001Bb';  }
         if (e.which == 38) { data = '\u001Bp';  }
         if (e.which == 39) { data = '\u001Bf';  }
         if (e.which == 40) { data = '\u001Bn';  }
         if (e.which == 46) { data = '\u001Bd';  }
         if (nativeKeys.indexOf(e.which) > -1) {
	     ws.send(String.fromCharCode(e.which));
	     e.preventDefault();
         }
     });
     ws.onmessage = function (evt) {
         $("pre.terminal code").html(evt.data);
     };
    </script>
  </body>
</html>
